[ProtoContract]
public class <%= self.name %> {
<% self.fields.each do |field| %>
    <% if field.kind_of?(Protobuf::Generate::Ast::Message) %>
    <%= partial 'message', field %>
    <% elsif field.kind_of?(Protobuf::Generate::Ast::Enum) %>
    <%= partial 'enum', field %>
    <% else %>
        [ProtoMember(<%=field.tag%><%= ', IsRequired = true' if field.required? %>)<%= ", DefaultValue(#{field.default})" if field.default %>]
        public <%= map_type field.type %><%= '[]' if field.repeated? %> <%= identifier_name field.name %> { get; set; }
    <% end %>

<% end %>

    public <%= self.name %>() {
        <% field_declarations.reject { |f| f.default.nil? }.map do |field| %>
            <%= "#{identifier_name(field.name)} = #{field.options['default']};" %>
        <% end %>
    }

    public override string ToString() {
        <% field_info = lambda { |f| "\" #{identifier_name f.name} = \" + (#{identifier_name f.name} == null ? \"null\" : #{identifier_name f.name}.ToString()) + \";\"" } %>
        return <%= (['"{ ' + self.name + ':"'] + field_declarations.map { |f| field_info.call(f) }).join(' + ') %> + " }";
    }
}
