using ProtoBuf;
using System.ComponentModel;

// disabling unreachable code warnings and warnings about comparisons with null being always false
// both make ToSting() methods a lot easier to write
#pragma warning disable 0429
#pragma warning disable 0472

<% package  = find { |e| e.kind_of? Protobuf::Generate::Ast::Package } %>
<%= "namespace #{package.name.capitalize} {" unless package.nil? %>

<% each do |exp| %>
  <% if exp.kind_of?(Protobuf::Generate::Ast::Message) %>
<%= partial 'message', exp %>
  <% end %>
<% end %>

<%= "}" unless package.nil? %>

#pragma warning restore 0429
#pragma warning restore 0472
